<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.producer.mapper.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.example.producer.domain.SchejobMsg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="job_status" jdbcType="VARCHAR" property="jobStatus" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExperssion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="job_data_id" jdbcType="INTEGER" property="jobDataId" />

  </resultMap>


  <!--在Mybatis Mapper文件中添加属性“useGeneratedKeys”和“keyProperty”，其中keyProperty是Java对象的属性名！
  Mybatis执行完插入语句后，自动将自增长值赋值给对象Spares的属性id。因此，可通过Spares对应的getter方法获取！-->
  <insert id="insert" parameterType="com.example.producer.domain.SchejobMsg" useGeneratedKeys="true" keyProperty="id">
    insert into r_schedule_job (job_name, job_group,job_status,cron_expression,create_time,job_data_id)
    values (#{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR},#{jobStatus,jdbcType=VARCHAR},
    #{cronExperssion,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}, #{jobDataId,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.example.producer.domain.SchejobMsg">
    update r_schedule_job set job_status=#{jobStatus,jdbcType=VARCHAR},cron_expression=#{cronExperssion,jdbcType=VARCHAR},
    create_time=#{createTime,jdbcType=TIMESTAMP}, job_data_id=#{jobDataId,jdbcType=INTEGER}
    where job_name=#{jobName,jdbcType=VARCHAR} and job_group=#{jobGroup,jdbcType=VARCHAR}
  </update>

  <delete id="delete" parameterType="com.example.producer.domain.SchejobMsg">
    delete from r_schedule_job where job_name=#{jobName, jdbcType=INTEGER}
  </delete>

</mapper>